@charset "utf-8";
/* CSS Document */

.hyen:hover .y01{
	-webkit-animation: rotate-center 3s ease-in-out both;
	        animation: rotate-center 3s ease-in-out both;
}
.hyen:hover .y02{
	-webkit-animation: rotate-out-center 3s ease-in-out both;
	        animation: rotate-out-center 3s ease-in-out both;
}


.about{
	display: none;
	position: absolute;
	font-size: 30px;
}
.hyen:hover .about{
	-webkit-animation: tracking-in-expand-fwd-top 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
	        animation: tracking-in-expand-fwd-top 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
    display: block;
}


.contact{
	display: none;
	position: absolute;
	font-size: 30px;
	line-height: 30px;
	transform: rotate(-60deg);
}
.hyen:hover .contact{
	-webkit-animation: tracking-in-expand-fwd-bottom-p 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
	        animation: tracking-in-expand-fwd-bottom-p 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
    display: block;
}



.portfolio{
	display: none;
	position: absolute;
	font-size: 30px;
	line-height: 30px;
	transform: rotate(60deg);
}
.hyen:hover .portfolio{
	-webkit-animation: tracking-in-expand-fwd-bottom-t 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
	        animation: tracking-in-expand-fwd-bottom-t 0.05s cubic-bezier(0.215, 0.610, 0.355, 1.000) 3s both;
    display: block;
}


/*YO1*/
@-webkit-keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
@keyframes rotate-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
  }
}
/*Y01*/


/*Y02*/
@-webkit-keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}
@keyframes rotate-out-center {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: rotate(180deg);
            transform: rotate(180deg);
    opacity: 0;
  }
}
/*Y02*/

/*About*/
@-webkit-keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-400px);
            transform: translateZ(-700px) translateY(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(-170px);
            transform: translateZ(0) translateY(-170px);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-top {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-700px) translateY(-400px);
            transform: translateZ(-700px) translateY(-400px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: translateZ(0) translateY(-170px);
            transform: translateZ(0) translateY(-170px);
    opacity: 1;
  }
}
/*About*/


/*Contact*/
@-webkit-keyframes tracking-in-expand-fwd-bottom-p {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: rotate(-60deg) translateZ(0) translateY(0px);
            transform: rotate(-60deg) translateZ(0) translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(-60deg) translateY(150px);
            transform: rotate(-60deg) translateY(150px);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom-p {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: rotate(-60deg) translateZ(0) translateY(0px);
            transform: rotate(-60deg) translateZ(0) translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(-60deg) translateY(150px);
            transform: rotate(-60deg) translateY(150px) ;
    opacity: 1;
  }
}
/*Contact*/


/*Portfolio*/
@-webkit-keyframes tracking-in-expand-fwd-bottom-t {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: rotate(60deg) translateZ(0) translateY(0px);
            transform: rotate(60deg) translateZ(0) translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(60deg) translateY(150px);
            transform: rotate(60deg) translateY(150px);
    opacity: 1;
  }
}
@keyframes tracking-in-expand-fwd-bottom-t {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: rotate(60deg) translateZ(0) translateY(0px);
            transform: rotate(60deg) translateZ(0) translateY(0px);
    opacity: 0;
  }
  40% {
    opacity: 0.6;
  }
  100% {
    -webkit-transform: rotate(60deg) translateY(150px);
            transform: rotate(60deg) translateY(150px) ;
    opacity: 1;
  }
}
/*Portfolio*/


.trangabout{
	background-image: url("../image/nen.png");
}
.content p{
	letter-spacing: 0.6px;
}
.about-trai{
	position: relative;
	margin-top: 200px;
	margin-left: -200px;
}
.about-phai{
	margin-left: -100px;
	margin-top: 200px;	
}
.about-trai img{
	position: absolute;
	-webkit-animation: rotate-center-360 3s ease-in-out both;
	        animation: rotate-center-360 3s ease-in-out both;
}
.hinhnen{
	background-image: url("../image/hinh2.png");
	margin-right: 0;
	margin-bottom: 0;
}

@-webkit-keyframes rotate-center-360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center-360 {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}





.trangportfolio{
	background-image: url("../image/nen.png");
}
/*
.portfolio-trai{
	position: relative;
	margin-bottom: 350px;
	
}
*/
.portfolio-trai img{
	position: absolute;
	-webkit-animation: rotate-center-360 3s ease-in-out both;
	        animation: rotate-center-360 3s ease-in-out both;
}
.portfolio-phai{
	margin: 200px auto;
}
.portfolio-trai{
	margin: 200px auto;
}

.trangcontact{
	background-image: url("../image/nen.png");
}
.ttcontact{
	margin: 200px auto;
}
.trangchu{
	background-image: url("../image/nen.png");
}

.tttrangchu{
	margin-top: 100px;
	
}
.contact-trai{
	position: relative;
	margin-bottom: 350px;
	
}
.contact-trai img{
	position: absolute;
	-webkit-animation: rotate-center-360-xoay 3s ease-in-out infinite both;
	        animation: rotate-center-360-xoay 3s ease-in-out infinite both;
}


.thanhcuon img{
	position: relative;
}
.thanhcuon xoay{
	position: absolute;
	
}
.xoay{
	-webkit-animation: rotate-center-360-xoay linear 2s infinite both;
	        animation: rotate-center-360-xoay linear 2s infinite both;
}

@-webkit-keyframes rotate-center-360-xoay {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}
@keyframes rotate-center-360-xoay {
  0% {
    -webkit-transform: rotate(0);
            transform: rotate(0);
  }
  100% {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.hinhanh{
	margin-top: 50px;
}


.nutchuyentrai{
	left: -80px !important;
}
.nutchuyenphai{
	right: -80px !important;
}
.nutbam{
	height: 45px;
	width: 45px;
	border-radius: 50px;
}

.home img{
	margin-left: 300px;
	margin-bottom: 0px;
	width: 100px;
}
